.results ul,
.results li,
.results p{
	margin:0;
	padding:0;}

.results li,
.results p{
	margin-top:0.5em;
	margin-bottom:0.5em;
	margin-left:1em;
	padding:0.5em;
	list-style-type:none;}

.results li{
	border-width:1px;}

.results li,
.results p.summary{
	border-style:solid;}

.results p.summary{
	border-width:2px;}

.results * .result{
	font-weight:bold;}

.results * .description{}

.results .success{
	border-color:#0f0;
	color:#050;
	background-color:#dfd;}

.results .success .description{
	color:#030;}

.results .failure{
	border-color:#f00;
	color:#500;
	background-color:#fdd;}

.results .failure .description{
	color:#300;}

.results .failure .success{
	background-color:#fdd;
	color:#500;}

.results .success .failure{
	background-color:#dfd;
	color:#050;}

#documentation dd{
	margin-bottom:10px;}

#documentation dt{
	margin-top:10px;}

#documentation dd p{
	margin-bottom:0;
	margin-top:0;}

#index ul,
#index li{
	margin:0;
	padding:0;}

#index li{
	padding-left:5px;
	padding-right:5px;
	list-style-type:none;
	display:inline;}
